body {
  background-color: #302f2f; }

/** ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li{
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    width: 10%;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
    border: 1px groove #000;
    background-color: lightgray;
    
}
ul li a:hover {
    background-color: red;
    color: white;
    padding: 4px;
}
ul li:hover ul {
    display: block;
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li {
    display: block;
} **/
a {
  color: #ebe1e1;
  font-family: 'Work Sans', sans-serif; }

h1 {
  text-align: center;
  color: firebrick;
  font-family: 'Work Sans', sans-serif; }

h2 {
  color: darkred;
  font-family: 'Work Sans', sans-serif;
  width: 240px; }

h3 {
  color: darkred;
  font-family: 'Work Sans', sans-serif; }

p {
  color: #adacac;
  font-family: 'Work Sans', sans-serif; }

h4 {
  text-decoration: underline;
  font-family: 'Work Sans', sans-serif;
  color: whitesmoke; }

tr {
  font-family: 'Work Sans', sans-serif; }

form {
  font-family: 'Source Code Pro', monospace; }

#EstiloEncabezado {
  text-decoration: underline;
  text-transform: uppercase; }

#grad {
  background-image: linear-gradient(to bottom, gray, lightgray); }

.header__flexdiv {
  display: flex;
  justify-content: space-between; }

.video {
  width: 1400px;
  height: 500px; }

.img {
  width: 200px;
  height: 70px; }

.EstiloCelda {
  background-color: #b62d2d;
  font-weight: bold;
  font-size: 12px; }

.FondoFuente {
  background-color: gray; }

.footer__flex {
  display: flexbox;
  text-align: center; }

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }

.div__imgsection {
  width: 400px;
  height: 150px; }

.p {
  border-style: groove; }

.header {
  background-color: #834545;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3; }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #834545; }

.header ul a {
  display: block;
  outline: 1px solid red;
  padding: 10px;
  border-right: 1px solid #aaa;
  text-decoration: none; }

.header ul a:hover {
  background-color: #ddd; }

.header .logo {
  float: left;
  display: block;
  font-size: 2em;
  padding: 0px 0px; }

.header .menu {
  clear: both;
  max-height: 0;
  xtransition: max-height .2s ease-out; }

.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer; }

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out; }

.header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 5px; }

.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: -5px; }

header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 240px; }

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0; }

@media (min-width: 48em) {
  .header li {
    float: left; }
  .header li a {
    padding: 10px 20px; }
  .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  .header .menu-icon {
    display: none; } }

.tamano_h-1 {
  font-size: 45px; }

.tamano_h-2 {
  font-size: 22.5px; }

.tamano_h-3 {
  font-size: 15px; }

.tamano_h-4 {
  font-size: 11.25px; }
