body {
  background-color: #302f2f; }

a {
  color: #ebe1e1;
  font-family: 'Work Sans', sans-serif; }

h1 {
  text-align: center;
  color: #fff;
  font-family: 'Work Sans', sans-serif; }

h2 {
  color: darkred;
  font-family: 'Work Sans', sans-serif;
  width: 240px; }

h3 {
  color: #fff;
  font-family: 'Work Sans', sans-serif; }

p {
  color: white;
  font-family: 'Work Sans', sans-serif; }

h4 {
  text-decoration: underline;
  font-family: 'Work Sans', sans-serif;
  color: whitesmoke; }

tr {
  font-family: 'Work Sans', sans-serif; }

form {
  font-family: 'Source Code Pro', monospace; }

section {
  position: sticky;
  width: 100%;
  height: 100%;
  overflow: hidden; }

footer {
  bottom: 0px;
  display: block;
  width: 100%;
  height: auto; }

#EstiloEncabezado {
  text-decoration: underline;
  text-transform: uppercase; }

#grad {
  background-image: linear-gradient(to bottom, gray, lightgray); }

#shadow:hover {
  margin-bottom: 15px;
  box-shadow: 5px 7px 9px -3px rgba(255, 255, 255, 0.5);
  cursor: pointer; }

#style {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header__flexdiv {
  display: flex;
  justify-content: space-between; }

.video2 {
  width: 1400px;
  height: 500px; }

.img {
  width: 150px;
  height: 50px; }

.EstiloCelda {
  background-color: #b62d2d;
  font-weight: bold;
  font-size: 12px; }

.FondoFuente {
  background-color: gray; }

.footer__flex {
  display: flexbox;
  text-align: center; }

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }

.div__imgsection {
  width: 400px;
  height: 150px; }

.p {
  width: 50%;
  height: 50%;
  font-size: auto; }

.header {
  background-color: #834545;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3; }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #834545; }

.header ul a {
  display: block;
  outline: 1px solid red;
  padding: 10px;
  border-right: 1px solid #aaa;
  text-decoration: none; }

.header ul a:hover {
  background-color: #080808; }

.header .logo {
  float: left;
  display: block;
  font-size: 2em;
  padding: 0px 0px; }

.header .menu {
  clear: both;
  max-height: 0;
  xtransition: max-height .2s ease-out; }

.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer; }

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out; }

.header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 5px; }

.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: -5px; }

header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 240px; }

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0; }

@media (min-width: 48em) {
  .header li {
    float: left; }
  .header li a {
    padding: 10px 20px; }
  .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  .header .menu-icon {
    display: none; } }

.h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 10vw;
  text-align: center;
  font-weight: 800;
  line-height: 0.85em;
  color: #fff;
  background: rgba(0, 0, 0, 0.95);
  mix-blend-mode: multiply; }

.span {
  font-size: 0.4em; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover; }

.hola {
  background-color: #834545; }

.single-service {
  border: 1px solid #ebebeb;
  text-align: center;
  background: rgba(0, 0, 0, 0.95);
  margin-top: 15px;
  margin-bottom: 15px; }

.service-bg {
  height: 200px;
  position: relative; }

.service-bg-1 {
  background: url("../images/ejemplo2.jpg");
  background-size: contain;
  background-position: center center; }

.service-bg-2 {
  background: url("../images/ejemplo.jpg");
  background-size: contain;
  background-position: center center; }

.service-bg h3 {
  color: #fff;
  font-size: 23px;
  background: tomato;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid tomato;
  text-align: center;
  font-weight: 700;
  padding: 15px;
  position: absolute;
  left: 8%;
  width: 84%;
  margin: 0;
  bottom: -25px;
  border-radius: 50px;
  letter-spacing: 2px; }

.single-service:hover .service-bg h3 {
  background: #fff;
  transition: .9s;
  color: tomato; }

.service-text {
  padding: 50px 30px 20px;
  font-size: 15px;
  font-weight: 400; }

.service-text p:last-child {
  margin: 0;
  line-height: 1.8; }

@media only screen and (max-width: 767px) {
  .single-service {
    margin-top: 30px;
    margin-bottom: 30px; }
  .service-bg h2 {
    font-size: 13px; } }

.background {
  background: url(../images/servicios_img1.jpg);
  background-size: cover;
  background-position: center; }

.services {
  margin: 90px auto;
  text-align: center; }

.h1__section {
  letter-spacing: 1px; }

.h1__section::after {
  content: '';
  background: white;
  display: block;
  width: 150px;
  height: 3px;
  margin: 10px auto; }

.icon {
  font-size: 40px;
  margin: 20px auto;
  padding: 20px;
  height: 80px;
  width: 80px;
  border: 1px solid white;
  border-radius: 50%; }

.container-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  padding: 20px 100px; }

.container-2:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  background: url("../images/servicios_img1.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(50px); }

.contact-box {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19); }

.izquierda {
  height: 100%;
  background: url("../images/Contacto.jpg") no-repeat center;
  background-size: cover; }

.derecha {
  padding: 25px 40px; }

.h2__contacto {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.h2__contacto:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: white; }

.prueba {
  text-align: center; }

.campo {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px; }

.campo:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.campo:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47); }

.area {
  min-height: 150px; }

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #834545;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  transition: .3s; }

.btn:hover {
  background-color: #fff; }

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr; }
  .izquierda {
    height: 200px; } }

.tamano_h-1 {
  font-size: 45px; }

.tamano_h-2 {
  font-size: 22.5px; }

.tamano_h-3 {
  font-size: 15px; }

.tamano_h-4 {
  font-size: 11.25px; }
